* {
  margin: 0;
  padding: 0%;
}
/*  Header Part Start */

.header {
  border-bottom: 2px solid rgba(128, 128, 128, 0.308);
  border-radius: 3px;
}
ul {
  margin: 0;
  padding: 0;
  min-height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
ul li {
  transform: 0.5s;
}
div ul li {
  list-style: none;
}
ul li a {
  display: block;
  position: relative;
  text-decoration: none;
  padding: 5px;
  font-size: 3vw;
  font-family: sans-serif;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  transition: 0.5s;
}
ul:hover li a {
  transform: scale(1.5);
  opacity: 0.2;
  filter: blur(2px);
}
ul li a:hover {
  transform: scale(2);
  opacity: 1;
  filter: blur(0);
}
ul li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #464243;
  transition: 0.5s;
  transform-origin: left;
  transform: scaleX(0);
  z-index: -1;
  border-radius: 5px;
}
ul li a:hover::before {
  transition: 0.5s;
  transform-origin: right;
  transform: scaleX(1);
}
a {
  text-decoration: none;
}
/* Header Part End */

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  min-height: fit-content;
}
.cont1 {
  font-size: 1vw;
  border: solid grey 2px;
  border-radius: 5px;
  margin: 5%;
  padding: 3%;
}
h1 {
  text-transform: uppercase;
}
.contariner {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
}
.box {
  border: #989a98 solid 2px;
  background-color: #989a98;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100px;
}
.boxes {
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.span1 {
  background-color: #989a98;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid grey 2px;
  border-radius: 10px;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  width: 200px;
}
.more {
  background-color: red;
  color: rgb(2, 175, 255);
  border: solid 2px red;
  border-radius: 4px;
}
.more2 a {
  color: rgb(8, 255, 82);
}
.goals {
  margin-top: 4%;
  border: solid grey 3px;
  padding: 10px;
  margin: 5%;
  border-radius: 6px;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
}
.goals p {
  font-size: 2vh;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: auto;
}
.goals p::first-letter {
  font-size: 2em;
  background-color: #989a98;
}
.goals h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 4vh;
  font-weight: bolder;
}
.goals h1::first-letter {
  color: blue;
}
.rules {
  margin-top: 3%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.rule {
  margin: 1%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: solid #989a98 3px;
  background-color: #989a98;
  padding: 30px;
  line-height: 2;
  text-transform: capitalize;
  font-size: 2vw;
}
.rule:hover {
  transform: scale(2);
  transition: 0.5s;
  color: aqua;
}
img {
  min-inline-size: 100%;
}
.rulestextbox {
  display: flex;
  flex-direction: row;
  border: #464243 solid 2px;
  border-radius: 19px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  align-items: center;
  justify-content: center;
}
.title {
  display: flex;
  flex-direction: column;
  border-right: #464243 solid 2px;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin: 50px;
  font-size: 1vw;
}
.text {
  line-height: 1.6;
  font-size: 1vw;
}
.boxessection {
  margin-top: 3%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.Teaching,
.English,
.Media,
.managemnet {
  margin: 2%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: solid #989a98 3px;
  background-color: #989a98;
  padding: 30px;
  text-transform: capitalize;
  font-size: 2vw;
  font-weight: bold;
  height: 300px;
  width: 200px;
}
.Teaching:hover {
  transform: scale(2);
  transition: 0.5s;
  color: aqua;
}
.English:hover {
  transform: scale(2);
  transition: 0.5s;
  color: aqua;
}
.Media:hover {
  transform: scale(2);
  transition: 0.5s;
  color: aqua;
}
.managemnet:hover {
  transform: scale(2);
  transition: 0.5s;
  color: aqua;
}
img {
}
